# Postgres details
PG_IMAGE_NAME="x_postgres"
PG_CONTAINER_NAME="x_postgres"
PG_SERVER_NAME="x_postgres"

# Used for Postgres config
PGHOST=${PG_SERVER_NAME}
PGUSER="postgres"
POSTGRES_PASSWORD="postgres" # for psql
PGPASSWORD="postgres" # for initdb script
PGDATABASE="postgres"
PGPORT="5432"
PGSSLMODE="disable"
PGTZ="Asia/Tokyo"
PGURL=postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}?sslmode=${PGSSLMODE}

# App details
APP_IMAGE_NAME="x_app"
APP_CONTAINER_NAME="x_app"
APP_SERVER_NAME="x_app"
APP_PORT="80"

# X-App secret key
SECRET_KEY="secret-key"

# Redis details
REDIS_IMAGE_NAME="x_redis"
REDIS_CONTAINER_NAME="x_redis"

# Used for Redis config
REDIS_PORT="6379"
REDIS_ADDR="x_redis:6379"
REDIS_PASSWORD="Redis"

# Kafka details
KAFKA_CONTAINER_NAME="x_broker"
KAFKA_PORT=9092

# Workers
WORKER_IMAGE_NAME="x_worker"
WORKER_CONTAINER_NAME="x_worker"
WORKER_PORT="81"
KAFKA_BROKER_ADDR=x_broker:29092
