services:
  x_postgres:
    build:
      context: .
      dockerfile: ./docker/postgres.Dockerfile
    image: ${PG_IMAGE_NAME}
    container_name: ${PG_CONTAINER_NAME}
    ports:
      - ${PGPORT}:${PGPORT}
    env_file:
      - .env
    volumes:
      - ./db/data/:/var/lib/postgresql/data/
    networks:
      - x_clone

  x_app:
    depends_on:
      - x_postgres
      - x_broker
    build:
      context: .
      dockerfile: ./docker/app.Dockerfile
    image: ${APP_IMAGE_NAME}
    container_name: ${APP_CONTAINER_NAME}
    command: >
      /bin/bash -c
      "bash ./scripts/wait_for_postgres.sh && 
      migrate -database ${PGURL} -path ./db/migrations up &&
      air -c app.air.toml &&
      /bin/bash"
    tty: true
    ports:
      - ${APP_PORT}:${APP_PORT}
    env_file:
      - .env
    volumes:
      - ./:/go/src/app
      - ../openapi/bundle:/go/src/app/internal/openapi/bundle
    networks:
      - x_clone

  x_redis:
    image: ${REDIS_IMAGE_NAME}
    build:
      context: .
      dockerfile: ./docker/redis.Dockerfile
    container_name: ${REDIS_CONTAINER_NAME}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    env_file:
      - .env
    volumes:
      - redis-data:/data # Persist Redis data
    networks:
      - x_clone

  x_worker:
    depends_on:
      - x_postgres
      - x_broker
      - x_redis
    build:
      context: .
      dockerfile: ./docker/worker.Dockerfile
    image: ${WORKER_IMAGE_NAME}
    container_name: ${WORKER_CONTAINER_NAME}
    command: >
      /bin/bash -c
      "bash ./scripts/wait_for_postgres.sh &&
      air -c worker.air.toml &&
      /bin/bash"
    tty: true
    ports:
      - ${WORKER_PORT}:${WORKER_PORT}
    env_file:
      - .env
    volumes:
      - ./:/go/src/app
      - ../openapi/bundle:/go/src/app/internal/openapi/bundle
    networks:
      - x_clone
  x_broker:
    image: apache/kafka:latest
    container_name: ${KAFKA_CONTAINER_NAME}
    ports:
      - ${KAFKA_PORT}:${KAFKA_PORT}
    networks:
      - x_clone
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://x_broker:29092,EXTERNAL://localhost:${KAFKA_PORT}

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    healthcheck:
      test:
        [
          "CMD",
          "/opt/kafka/bin/kafka-topics.sh",
          "--bootstrap-server",
          "localhost:9092",
          "--list",
        ]
      interval: 5s
      timeout: 10s
      retries: 5

networks:
  x_clone:
    name: x_clone
    driver: bridge

volumes:
  redis-data:
