#vertical_tab_nav ul {
  float: left;
  margin: 0px;
  padding: 10px;
}

#vertical_tab_nav li {
  font-size: 14pt;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  #vertical_tab_nav ul {
    background: #555;
  }

  #vertical_tab_nav li {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  #vertical_tab_nav ul {
    background: #fff;
  }

  #vertical_tab_nav li {
    color: #555;
  }
}
